In [1]:
# Target 获取数据并保存到本地csv
# 沪深300指数 - daily - JoinQuant
# 2005-09-01 - 2012-03-15

In [6]:
import pandas as pd
import tushare as ts
import jqdatasdk     # JoinQuant SDK
import os

In [36]:
# 登录认证
jqdatasdk.auth("18867905508", "Ljy19950217") # user & password
count_num = jqdatasdk.get_query_count() # 总共能查多少data 还剩能查多少data
print(count_num)

{'total': 500000, 'spare': 483519}

In [35]:
# 获取数据
data = jqdatasdk.get_price("000300.XSHG", start_date="2012-09-01", end_date="2021-09-01", frequency="daily")
data.head()

/Users/lijunyu/opt/anaconda3/envs/JunPython3_7/lib/python3.7/site-packages/jqdatasdk/api.py:34: PanelObsoleteWarning: 当前环境 pandas 版本高于 0.25，get_price 与 get_fundamentals_continuously 接口的 panel 参数将固定为 False（0.25 及以上版本的 pandas 不再支持 panel，如使用该数据结构和相关函数请注意修改）
  warnings.warn(PandasChecker.VERSION_NOTICE_MESSAGE, PanelObsoleteWarning)

               open    close     high      low        volume         money
2012-09-03  2201.12  2228.37  2236.56  2197.71  3.854859e+09  3.529918e+10
2012-09-04  2231.72  2204.41  2234.88  2199.51  3.485269e+09  3.322020e+10
2012-09-05  2199.74  2199.88  2209.54  2186.96  3.475182e+09  3.044517e+10
2012-09-06  2204.44  2217.82  2218.68  2199.86  3.169588e+09  2.687332e+10
2012-09-07  2233.91  2317.18  2341.52  2233.91  9.452976e+09  8.430225e+10

In [37]:
data.index # 需要把数据的index "时间戳" 也存进本地csv文件

DatetimeIndex(['2012-09-03', '2012-09-04', '2012-09-05', '2012-09-06',
               '2012-09-07', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14',
               ...
               '2021-08-19', '2021-08-20', '2021-08-23', '2021-08-24',
               '2021-08-25', '2021-08-26', '2021-08-27', '2021-08-30',
               '2021-08-31', '2021-09-01'],
              dtype='datetime64[ns]', length=2189, freq=None)

In [38]:
# 获取的数据存为本地csv文件 以便读取修改dataframe
data.to_csv("/Users/lijunyu/Desktop/000300_daily.csv", index = True) # index = True保留日期索引

In [39]:
# 重新读取本地csv文件并进行数据预处理
df_300 = pd.read_csv("000300_daily.csv", header=0, names=["DateTime", "Open", "Close", "High", "Low", "Volume", "Money"])
df_300.head()

     DateTime     Open    Close     High      Low        Volume         Money
0  2012-09-03  2201.12  2228.37  2236.56  2197.71  3.854859e+09  3.529918e+10
1  2012-09-04  2231.72  2204.41  2234.88  2199.51  3.485269e+09  3.322020e+10
2  2012-09-05  2199.74  2199.88  2209.54  2186.96  3.475182e+09  3.044517e+10
3  2012-09-06  2204.44  2217.82  2218.68  2199.86  3.169588e+09  2.687332e+10
4  2012-09-07  2233.91  2317.18  2341.52  2233.91  9.452976e+09  8.430225e+10

In [34]:
df_300.shape

(1588, 7)