In [1]:
# Target 获取数据并保存到本地csv
# 沪深300指数 - daily - JoinQuant
# 2005-09-01 - 2012-03-15 as indicated by paper

In [2]:
import pandas as pd
import tushare as ts
import jqdatasdk     # JoinQuant SDK
import os

In [3]:
# 登录认证
jqdatasdk.auth("18867905508", "Ljy19950217") # user & password
count_num = jqdatasdk.get_query_count() # JQ总共能查多少data 还剩能查多少data
print(count_num)

auth success
{'total': 500000, 'spare': 483519}

In [5]:
# 获取数据
data = jqdatasdk.get_price("000300.XSHG", start_date="2005-09-01", end_date="2012-03-15", frequency="daily")
data.head()

/Users/lijunyu/opt/anaconda3/envs/JunPython3_7/lib/python3.7/site-packages/jqdatasdk/api.py:34: PanelObsoleteWarning: 当前环境 pandas 版本高于 0.25，get_price 与 get_fundamentals_continuously 接口的 panel 参数将固定为 False（0.25 及以上版本的 pandas 不再支持 panel，如使用该数据结构和相关函数请注意修改）
  warnings.warn(PandasChecker.VERSION_NOTICE_MESSAGE, PanelObsoleteWarning)

              open   close    high     low        volume         money
2005-09-01  928.52  944.56  944.95  926.06  2.230638e+09  1.055868e+10
2005-09-02  945.98  947.87  947.92  941.31  1.861444e+09  8.864774e+09
2005-09-05  949.08  952.72  952.99  944.63  1.784332e+09  8.242226e+09
2005-09-06  953.41  936.61  956.30  934.97  2.122226e+09  1.058399e+10
2005-09-07  934.99  952.76  952.90  932.65  1.960847e+09  9.956808e+09

In [6]:
data.index # 需要把数据的index "时间戳" 也存进本地csv文件

DatetimeIndex(['2005-09-01', '2005-09-02', '2005-09-05', '2005-09-06',
               '2005-09-07', '2005-09-08', '2005-09-09', '2005-09-12',
               '2005-09-13', '2005-09-14',
               ...
               '2012-03-02', '2012-03-05', '2012-03-06', '2012-03-07',
               '2012-03-08', '2012-03-09', '2012-03-12', '2012-03-13',
               '2012-03-14', '2012-03-15'],
              dtype='datetime64[ns]', length=1588, freq=None)

In [7]:
# 获取的数据存为本地csv文件 以便读取修改dataframe
data.to_csv("/Users/lijunyu/Desktop/000300_daily.csv", index = True) # index = True保留日期索引

In [8]:
# 重新读取本地csv文件并进行数据预处理
df_300 = pd.read_csv("000300_daily.csv", header=0, names=["DateTime", "Open", "Close", "High", "Low", "Volume", "Money"])
df_300.head()

     DateTime    Open   Close    High     Low        Volume         Money
0  2005-09-01  928.52  944.56  944.95  926.06  2.230638e+09  1.055868e+10
1  2005-09-02  945.98  947.87  947.92  941.31  1.861444e+09  8.864774e+09
2  2005-09-05  949.08  952.72  952.99  944.63  1.784332e+09  8.242226e+09
3  2005-09-06  953.41  936.61  956.30  934.97  2.122226e+09  1.058399e+10
4  2005-09-07  934.99  952.76  952.90  932.65  1.960847e+09  9.956808e+09

In [9]:
df_300.shape # size
df_300['Open'].shift(1) # 往前看一个

0           NaN
1        928.52
2        945.98
3        949.08
4        953.41
         ...
1583    2612.40
1584    2644.10
1585    2663.24
1586    2653.68
1587    2694.47
Name: Open, Length: 1588, dtype: float64