In [ ]:
# 布林带策略
# 数据：沪深300 日频数据 from JoinQuant
# 策略核心：
# 当收盘价'Close'上穿上轨线，买入
# 当收盘价'Close'下穿下轨线，卖空

# 定义上中下轨道 mid & up & down

In [2]:
import pandas as pd
import tushare as ts
import jqdatasdk
import os

In [3]:
# 读取本地下载好的沪深300_daily csv文件并进行数据预处理
df_300 = pd.read_csv("000300_daily.csv", header=0, names=["DateTime", "Open", "Close", "High", "Low", "Volume", "Money"])
df_300.head()

     DateTime     Open    Close     High      Low        Volume         Money
0  2012-09-03  2201.12  2228.37  2236.56  2197.71  3.854859e+09  3.529918e+10
1  2012-09-04  2231.72  2204.41  2234.88  2199.51  3.485269e+09  3.322020e+10
2  2012-09-05  2199.74  2199.88  2209.54  2186.96  3.475182e+09  3.044517e+10
3  2012-09-06  2204.44  2217.82  2218.68  2199.86  3.169588e+09  2.687332e+10
4  2012-09-07  2233.91  2317.18  2341.52  2233.91  9.452976e+09  8.430225e+10