In [3]:
# 布林带策略
# 数据：沪深300 日频数据 from JoinQuant
# 策略核心：
# 当收盘价'Close'上穿上轨线，买入
# 当收盘价'Close'下穿下轨线，卖空

# 定义上中下轨道 mid & up & down

In [4]:
import pandas as pd
import tushare as ts
import jqdatasdk
import os
import numpy as np

In [5]:
# 读取本地下载好的沪深300_daily csv文件并进行数据预处理
df_300 = pd.read_csv("000300_daily.csv", header=0, names=["DateTime", "Open", "Close", "High", "Low", "Volume", "Money"])
df_300.head()

     DateTime    Open   Close    High     Low        Volume         Money
0  2005-09-01  928.52  944.56  944.95  926.06  2.230638e+09  1.055868e+10
1  2005-09-02  945.98  947.87  947.92  941.31  1.861444e+09  8.864774e+09
2  2005-09-05  949.08  952.72  952.99  944.63  1.784332e+09  8.242226e+09
3  2005-09-06  953.41  936.61  956.30  934.97  2.122226e+09  1.058399e+10
4  2005-09-07  934.99  952.76  952.90  932.65  1.960847e+09  9.956808e+09

In [6]:
# 算法 Mid = 最高价 + 最低价 + 收盘价 / 3 作为中轨
df_300['Tp'] =round((df_300['High'] + df_300['Low'] + df_300['Close']) / 3, 2) # Tp 当前价格 保留两位
df_300['Mid'] = np.nan # 中轨线=N日tp的移动平均线 均值拟合：N=20 20天移动平均
df_300['Up'] = np.nan  # 上轨线=中轨线+M倍的标准差(中轨线标准差) M=2 2倍标准差
df_300['Down'] = np.nan # 下轨线=中轨线-M倍的标准差（中轨线标准差）M=2 2倍标准差
df_300.head()

,DateTime,Open,Close,High,Low,Volume,Money,Tp,Mid,Up,Down
0,2005-09-01,928.52,944.56,944.95,926.06,2.230638e+09,1.055868e+10,938.52,NaN,NaN,NaN
1,2005-09-02,945.98,947.87,947.92,941.31,1.861444e+09,8.864774e+09,945.70,NaN,NaN,NaN
2,2005-09-05,949.08,952.72,952.99,944.63,1.784332e+09,8.242226e+09,950.11,NaN,NaN,NaN
3,2005-09-06,953.41,936.61,956.30,934.97,2.122226e+09,1.058399e+10,942.63,NaN,NaN,NaN
4,2005-09-07,934.99,952.76,952.90,932.65,1.960847e+09,9.956808e+09,946.10,NaN,NaN,NaN

In [7]:
# 求中轨线Tp方法 1 for循环
'''构建中轨线Tp 方法1: for loop'''
# for i in range(19, len(df_300)):
'''想用赋值操作第一步先切出来用loc 再进行计算'''
#     df_300.loc[df_300.index[i], 'Mid'] = df_300['Tp'][i-19:i+1].mean()

# 求中轨线Tp方法 2 rolling(n) 窗口滑动求平均
# df_300['Mid'] = round(df_300['Tp'].rolling(20).mean(), 2)
# df_300['Up'] = round((df_300['Tp'].rolling(20).std()) * 2 + df_300['Tp'].rolling(20).mean(), 2)
# df_300['Down'] = round(df_300['Tp'].rolling(20).mean() - (df_300['Tp'].rolling(20).std()) * 2, 2)

# 写成函数形式
'''
该函数用于计算布林带的上中下轨道
Param: DataFrame; N; m
'''
def Construct_Band(df, N, m): # Dataframe, N = days of moving average, M = std倍数
    df['Mid'] = round(df['Tp'].rolling(N).mean(), 2)
    df['Up'] = round((df['Tp'].rolling(N).std()) * 2 + df['Mid'], 2)
    df['Down'] = round(df['Mid'] - (df['Tp'].rolling(N).std()) * 2, 2)
    return df

In [8]:
'''20日移动均线和两倍标准差构建BBand'''
Construct_Band(df_300, 20, 2)
df_300.head(40)

,DateTime,Open,Close,High,Low,Volume,Money,Tp,Mid,Up,Down
0,2005-09-01,928.52,944.56,944.95,926.06,2.230638e+09,1.055868e+10,938.52,NaN,NaN,NaN
1,2005-09-02,945.98,947.87,947.92,941.31,1.861444e+09,8.864774e+09,945.70,NaN,NaN,NaN
2,2005-09-05,949.08,952.72,952.99,944.63,1.784332e+09,8.242226e+09,950.11,NaN,NaN,NaN
3,2005-09-06,953.41,936.61,956.30,934.97,2.122226e+09,1.058399e+10,942.63,NaN,NaN,NaN
4,2005-09-07,934.99,952.76,952.90,932.65,1.960847e+09,9.956808e+09,946.10,NaN,NaN,NaN
5,2005-09-08,954.27,955.28,958.87,947.71,2.242439e+09,1.175326e+10,953.95,NaN,NaN,NaN
6,2005-09-09,955.11,949.07,959.90,946.02,1.621931e+09,7.924194e+09,951.66,NaN,NaN,NaN
7,2005-09-12,949.78,949.51,952.55,945.40,1.167261e+09,5.610130e+09,949.15,NaN,NaN,NaN
8,2005-09-13,949.58,963.77,963.92,948.13,1.657943e+09,7.999031e+09,958.61,NaN,NaN,NaN
9,2005-09-14,964.97,970.19,970.26,961.64,1.995829e+09,9.942628e+09,967.36,NaN,NaN,NaN
10,2005-09-15,970.58,969.60,970.96,965.66,1.637768e+09,8.098161e+09,968.74,NaN,NaN,NaN
11,2005-09-16,969.62,967.50,970.37,964.28,1.397857e+09,6.989328e+09,967.38,NaN,NaN,NaN
12,2005-09-19,967.44,971.14,971.99,964.26,1.473742e+09,7.427482e+09,969.13,NaN,NaN,NaN
13,2005-09-20,971.38,961.92,971.65,957.12,1.863660e+09,9.189438e+09,963.56,NaN,NaN,NaN
14,2005-09-21,961.37,944.41,961.37,943.82,1.854190e+09,8.760459e+09,949.87,NaN,NaN,NaN
15,2005-09-22,942.73,923.27,942.73,914.23,1.811552e+09,8.625590e+09,926.74,NaN,NaN,NaN
16,2005-09-23,921.51,916.15,927.42,914.81,1.154764e+09,5.549882e+09,919.46,NaN,NaN,NaN
17,2005-09-26,915.84,918.49,919.65,913.61,8.836241e+08,4.398426e+09,917.25,NaN,NaN,NaN
18,2005-09-27,918.87,904.21,921.13,903.39,1.108606e+09,5.576097e+09,909.58,NaN,NaN,NaN
19,2005-09-28,903.33,903.72,910.33,901.38,8.850310e+08,4.331476e+09,905.14,945.03,984.81,905.25
20,2005-09-29,904.28,915.98,915.98,904.28,1.193898e+09,5.798238e+09,912.08,943.71,986.07,901.35
21,2005-09-30,916.59,917.39,918.66,913.45,9.001433e+08,4.529467e+09,916.50,942.25,986.30,898.20
22,2005-10-10,917.21,907.32,917.21,906.88,7.158451e+08,3.665624e+09,910.47,940.27,986.36,894.18
23,2005-10-11,906.63,919.72,919.80,904.04,7.758295e+08,4.032539e+09,914.52,938.86,986.34,891.38
24,2005-10-12,920.45,923.49,926.09,917.38,1.220885e+09,6.653231e+09,922.32,937.67,985.57,889.77
25,2005-10-13,923.43,916.50,926.01,916.27,1.082890e+09,6.021814e+09,919.59,935.96,983.87,888.05
26,2005-10-14,916.34,904.83,917.89,902.81,1.012394e+09,5.568049e+09,908.51,933.80,982.61,884.99
27,2005-10-17,903.27,897.62,903.27,892.36,1.055251e+09,5.516482e+09,897.75,931.23,982.01,880.45
28,2005-10-18,897.37,902.37,903.00,895.62,1.136632e+09,5.849998e+09,900.33,928.31,979.16,877.46
29,2005-10-19,902.04,898.74,907.88,897.04,1.103305e+09,5.474099e+09,901.22,925.01,973.73,876.29
30,2005-10-20,898.89,899.91,900.13,889.57,1.260872e+09,6.082546e+09,896.54,921.40,967.08,875.72
31,2005-10-21,899.64,904.41,907.79,897.99,1.136459e+09,5.645096e+09,903.40,918.20,959.02,877.38
32,2005-10-24,905.13,906.65,908.45,900.23,9.218982e+08,4.674775e+09,905.11,915.00,948.36,881.64
33,2005-10-25,905.97,894.27,905.97,893.61,1.121340e+09,5.687105e+09,897.95,911.72,936.87,886.57
34,2005-10-26,892.62,875.82,892.62,873.89,1.216712e+09,5.911801e+09,880.78,908.26,930.11,886.41
35,2005-10-27,873.47,875.85,879.67,869.72,1.190859e+09,5.881848e+09,875.08,905.68,930.36,881.00
36,2005-10-28,875.86,867.73,880.21,859.69,1.197338e+09,5.565266e+09,869.21,903.17,931.85,874.49
37,2005-10-31,866.62,876.28,878.41,866.15,1.044365e+09,4.954801e+09,873.61,900.98,931.72,870.24
38,2005-11-01,875.96,872.87,875.96,862.69,1.008274e+09,4.762514e+09,870.51,899.03,932.33,865.73
39,2005-11-02,873.39,882.48,884.94,873.39,1.310497e+09,6.115387e+09,880.27,897.79,931.97,863.61

In [9]:
'''
策略回测
回测样本: 沪深300 - daily - 2005-09-01 至 2012-03-15
指标参数: N = 20 20日移动平均线构建布林带

策略信号
当收盘价Close 上穿上轨线Up, 买入, signal = 1      昨日收盘小于昨日上轨 & 今日收盘大于今日上轨
当收盘价Close 下穿下轨线Down, 卖出, signal = -1   昨日收盘大于昨日下轨 & 今日收盘小于今日下轨
'''
df_300

,DateTime,Open,Close,High,Low,Volume,Money,Tp,Mid,Up,Down
0,2005-09-01,928.52,944.56,944.95,926.06,2.230638e+09,1.055868e+10,938.52,NaN,NaN,NaN
1,2005-09-02,945.98,947.87,947.92,941.31,1.861444e+09,8.864774e+09,945.70,NaN,NaN,NaN
2,2005-09-05,949.08,952.72,952.99,944.63,1.784332e+09,8.242226e+09,950.11,NaN,NaN,NaN
3,2005-09-06,953.41,936.61,956.30,934.97,2.122226e+09,1.058399e+10,942.63,NaN,NaN,NaN
4,2005-09-07,934.99,952.76,952.90,932.65,1.960847e+09,9.956808e+09,946.10,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1583,2012-03-09,2644.10,2664.30,2664.41,2631.41,5.525892e+09,6.596344e+10,2653.37,2602.94,2710.08,2495.80
1584,2012-03-12,2663.24,2654.40,2666.43,2636.42,6.232722e+09,7.436770e+10,2652.42,2609.20,2712.26,2506.14
1585,2012-03-13,2653.68,2681.07,2681.33,2649.17,5.840447e+09,6.642976e+10,2670.52,2616.70,2714.30,2519.10
1586,2012-03-14,2694.47,2605.11,2705.75,2595.34,1.084265e+10,1.170804e+11,2635.40,2621.42,2712.52,2530.32
1587,2012-03-15,2602.66,2585.55,2618.25,2575.44,7.256596e+09,7.704277e+10,2593.08,2624.16,2707.69,2540.63

In [10]:
'''Calculate signals 计算信号
计算出每天的信号是1 -1 or None
Param: df_300 DataFrame 
'''
def Signal_calculation(df):
    up = df['Up']        # List Container
    down = df['Down']    # List Container
    close = df['Close']  # List Container
    signals_list = []         # empty List Container
    for up_, down_, close_, pre_up, pre_down, pre_close in zip(up, down, close, up.shift(1), down.shift(1), close.shift(1)):
        signal_element = None
        '''昨日收盘小于昨日上轨 & 今日收盘大于今日上轨 signal = 1'''
        if (pre_close < pre_up) and (close_ >= up_):
            signal_element = 1
            '''昨日收盘大于昨日下轨 & 今日收盘小于今日下轨 signal = -1'''
        elif (pre_close >= pre_down) and (close_ < down_):
            signal_element = -1
        # 一次for循环添加一次  每次遍历signal重新变回none
        #  重新进行信号判断 要不添加none 要不添加1 -1在列表里 none也是一个元素添加进去            
        signals_list.append(signal_element) 
    '''把List signal赋值给dataFrame 作为新列表'''           
    df['Signal'] = signals_list
    return df

In [11]:
'''信号赋值 -> df_300['Signal]'''
Signal_calculation(df_300) # NaN是一个numpy.float64的非空对象

,DateTime,Open,Close,High,Low,Volume,Money,Tp,Mid,Up,Down,Signal
0,2005-09-01,928.52,944.56,944.95,926.06,2.230638e+09,1.055868e+10,938.52,NaN,NaN,NaN,NaN
1,2005-09-02,945.98,947.87,947.92,941.31,1.861444e+09,8.864774e+09,945.70,NaN,NaN,NaN,NaN
2,2005-09-05,949.08,952.72,952.99,944.63,1.784332e+09,8.242226e+09,950.11,NaN,NaN,NaN,NaN
3,2005-09-06,953.41,936.61,956.30,934.97,2.122226e+09,1.058399e+10,942.63,NaN,NaN,NaN,NaN
4,2005-09-07,934.99,952.76,952.90,932.65,1.960847e+09,9.956808e+09,946.10,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1583,2012-03-09,2644.10,2664.30,2664.41,2631.41,5.525892e+09,6.596344e+10,2653.37,2602.94,2710.08,2495.80,NaN
1584,2012-03-12,2663.24,2654.40,2666.43,2636.42,6.232722e+09,7.436770e+10,2652.42,2609.20,2712.26,2506.14,NaN
1585,2012-03-13,2653.68,2681.07,2681.33,2649.17,5.840447e+09,6.642976e+10,2670.52,2616.70,2714.30,2519.10,NaN
1586,2012-03-14,2694.47,2605.11,2705.75,2595.34,1.084265e+10,1.170804e+11,2635.40,2621.42,2712.52,2530.32,NaN
1587,2012-03-15,2602.66,2585.55,2618.25,2575.44,7.256596e+09,7.704277e+10,2593.08,2624.16,2707.69,2540.63,NaN

In [12]:
df_300['Signal']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
1583   NaN
1584   NaN
1585   NaN
1586   NaN
1587   NaN
Name: Signal, Length: 1588, dtype: float64

In [13]:
'''check信号处理完后 check 列Signal中 信号为 NaN 所在的位置 发现有1476个NaN 总共有1588个数据 产生了 1588 - 1476 = 112个信号'''
# 输出 Signal列 的所有 NaN
# 为什么加转置？ 得到的每一行求any()计算的结果，输出为行的Series
df_300[df_300[['Signal']].isnull().T.any()][['Signal']]

      Signal
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
1583     NaN
1584     NaN
1585     NaN
1586     NaN
1587     NaN

[1476 rows x 1 columns]

In [15]:
# NaN -> not a number
# NULL-> 不存在的东西，是空的
# a = np.isnan(df_300['Signal']) # Series 返回Boolean
df_300
df_300.to_csv('test300', index=False)

In [23]:
'''计算持仓'''
# Position通过信号signal计算 当出现第一个信号1或者-1的时候, 信号之间的NaN自动抄录最上面碰到的第一个非NaN信号 
# 再把开头未出现信号的NaN
df_300['Position'] = df_300[['Signal']].fillna(method = 'ffill').fillna(0)
df_300 # Position 计算完毕 0 / -1 / 1

,DateTime,Open,Close,High,Low,Volume,Money,Tp,Mid,Up,Down,Signal,Position
0,2005-09-01,928.52,944.56,944.95,926.06,2.230638e+09,1.055868e+10,938.52,NaN,NaN,NaN,NaN,0.0
1,2005-09-02,945.98,947.87,947.92,941.31,1.861444e+09,8.864774e+09,945.70,NaN,NaN,NaN,NaN,0.0
2,2005-09-05,949.08,952.72,952.99,944.63,1.784332e+09,8.242226e+09,950.11,NaN,NaN,NaN,NaN,0.0
3,2005-09-06,953.41,936.61,956.30,934.97,2.122226e+09,1.058399e+10,942.63,NaN,NaN,NaN,NaN,0.0
4,2005-09-07,934.99,952.76,952.90,932.65,1.960847e+09,9.956808e+09,946.10,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1583,2012-03-09,2644.10,2664.30,2664.41,2631.41,5.525892e+09,6.596344e+10,2653.37,2602.94,2710.08,2495.80,NaN,1.0
1584,2012-03-12,2663.24,2654.40,2666.43,2636.42,6.232722e+09,7.436770e+10,2652.42,2609.20,2712.26,2506.14,NaN,1.0
1585,2012-03-13,2653.68,2681.07,2681.33,2649.17,5.840447e+09,6.642976e+10,2670.52,2616.70,2714.30,2519.10,NaN,1.0
1586,2012-03-14,2694.47,2605.11,2705.75,2595.34,1.084265e+10,1.170804e+11,2635.40,2621.42,2712.52,2530.32,NaN,1.0
1587,2012-03-15,2602.66,2585.55,2618.25,2575.44,7.256596e+09,7.704277e+10,2593.08,2624.16,2707.69,2540.63,NaN,1.0

In [ ]:
# 计算回测指标以及结果