In [ ]:
# 布林带策略
# 数据：沪深300 日频数据 from JoinQuant
# 策略核心：
# 当收盘价'Close'上穿上轨线，买入
# 当收盘价'Close'下穿下轨线，卖空

# 定义上中下轨道 mid & up & down

In [1]:
import pandas as pd
import tushare as ts
import jqdatasdk
import os
import numpy as np

In [14]:
# 读取本地下载好的沪深300_daily csv文件并进行数据预处理
df_300 = pd.read_csv("000300_daily.csv", header=0, names=["DateTime", "Open", "Close", "High", "Low", "Volume", "Money"])
df_300.head()

     DateTime     Open    Close     High      Low        Volume         Money
0  2012-09-03  2201.12  2228.37  2236.56  2197.71  3.854859e+09  3.529918e+10
1  2012-09-04  2231.72  2204.41  2234.88  2199.51  3.485269e+09  3.322020e+10
2  2012-09-05  2199.74  2199.88  2209.54  2186.96  3.475182e+09  3.044517e+10
3  2012-09-06  2204.44  2217.82  2218.68  2199.86  3.169588e+09  2.687332e+10
4  2012-09-07  2233.91  2317.18  2341.52  2233.91  9.452976e+09  8.430225e+10

In [35]:
# 算法 Mid = 最高价 + 最低价 + 收盘价 / 3 作为中轨
df_300['Tp'] =round((df_300['High'] + df_300['Low'] + df_300['Close']) / 3, 2) # Tp 当前价格 保留两位
df_300['Mid'] = np.nan # 中轨线=N日tp的移动平均线 均值拟合：N=20 20天移动平均
df_300['Up'] = np.nan  # 上轨线=中轨线+M倍的标准差(中轨线标准差) M=2 2倍标准差
df_300['Down'] = np.nan # 下轨线=中轨线-M倍的标准差（中轨线标准差）M=2 2倍标准差
df_300.head()

,DateTime,Open,Close,High,Low,Volume,Money,Tp,Mid,Up,Down
0,2012-09-03,2201.12,2228.37,2236.56,2197.71,3.854859e+09,3.529918e+10,2220.88,NaN,NaN,NaN
1,2012-09-04,2231.72,2204.41,2234.88,2199.51,3.485269e+09,3.322020e+10,2212.93,NaN,NaN,NaN
2,2012-09-05,2199.74,2199.88,2209.54,2186.96,3.475182e+09,3.044517e+10,2198.79,NaN,NaN,NaN
3,2012-09-06,2204.44,2217.82,2218.68,2199.86,3.169588e+09,2.687332e+10,2212.12,NaN,NaN,NaN
4,2012-09-07,2233.91,2317.18,2341.52,2233.91,9.452976e+09,8.430225e+10,2297.54,NaN,NaN,NaN

In [40]:
# 求中轨线Tp方法 1 for循环
# for i in range(19, len(df_300)):
#     df_300.loc[df_300.index[i], 'Mid'] = df_300['Tp'][i-19:i+1].mean()

# 求中轨线Tp方法 2 rolling(n) 窗口滑动求平均
# df_300['Mid'] = round(df_300['Tp'].rolling(20).mean(), 2)
# df_300['Up'] = round((df_300['Tp'].rolling(20).std()) * 2 + df_300['Tp'].rolling(20).mean(), 2)
# df_300['Down'] = round(df_300['Tp'].rolling(20).mean() - (df_300['Tp'].rolling(20).std()) * 2, 2)

# 写成函数形式
'''
该函数用于计算布林带的上中下轨道
Param: DataFrame; N; m
'''
def construct_Band(df, N, m): # Dataframe, N = days of moving average, M = std倍数
    df['Mid'] = round(df['Tp'].rolling(N).mean(), 2)
    df['Up'] = round((df['Tp'].rolling(N).std()) * 2 + df['Tp'].rolling(N).mean(), 2)
    df['Down'] = round(df['Tp'].rolling(N).mean() - (df['Tp'].rolling(N).std()) * 2, 2)
    return df

In [42]:
'''20日移动均线和两倍标准差构建BBand'''
construct_Band(df_300, 20, 2)
df_300.head(40)

,DateTime,Open,Close,High,Low,Volume,Money,Tp,Mid,Up,Down
0,2012-09-03,2201.12,2228.37,2236.56,2197.71,3.854859e+09,3.529918e+10,2220.88,NaN,NaN,NaN
1,2012-09-04,2231.72,2204.41,2234.88,2199.51,3.485269e+09,3.322020e+10,2212.93,NaN,NaN,NaN
2,2012-09-05,2199.74,2199.88,2209.54,2186.96,3.475182e+09,3.044517e+10,2198.79,NaN,NaN,NaN
3,2012-09-06,2204.44,2217.82,2218.68,2199.86,3.169588e+09,2.687332e+10,2212.12,NaN,NaN,NaN
4,2012-09-07,2233.91,2317.18,2341.52,2233.91,9.452976e+09,8.430225e+10,2297.54,NaN,NaN,NaN
5,2012-09-10,2320.56,2326.67,2334.50,2313.57,6.533055e+09,6.325204e+10,2324.91,NaN,NaN,NaN
6,2012-09-11,2316.53,2311.89,2316.53,2294.82,4.626072e+09,4.338977e+10,2307.75,NaN,NaN,NaN
7,2012-09-12,2325.93,2320.07,2337.20,2298.30,4.962252e+09,4.648517e+10,2318.52,NaN,NaN,NaN
8,2012-09-13,2316.68,2298.46,2325.53,2298.37,4.204985e+09,3.802400e+10,2307.45,NaN,NaN,NaN
9,2012-09-14,2324.01,2315.54,2332.42,2298.83,6.157181e+09,5.543861e+10,2315.60,NaN,NaN,NaN
10,2012-09-17,2312.05,2258.70,2314.99,2258.18,4.898473e+09,4.375317e+10,2277.29,NaN,NaN,NaN
11,2012-09-18,2249.43,2235.24,2253.14,2228.04,3.322870e+09,3.017150e+10,2238.81,NaN,NaN,NaN
12,2012-09-19,2237.22,2246.24,2249.24,2229.49,3.434971e+09,3.260701e+10,2241.66,NaN,NaN,NaN
13,2012-09-20,2236.19,2195.95,2236.19,2194.22,4.254578e+09,3.838586e+10,2208.79,NaN,NaN,NaN
14,2012-09-21,2190.33,2199.06,2217.47,2186.53,3.812059e+09,3.404337e+10,2201.02,NaN,NaN,NaN
15,2012-09-24,2183.97,2215.52,2225.80,2172.88,3.750169e+09,3.360876e+10,2204.73,NaN,NaN,NaN
16,2012-09-25,2209.97,2210.15,2225.33,2202.38,2.787702e+09,2.667706e+10,2212.62,NaN,NaN,NaN
17,2012-09-26,2208.91,2184.89,2216.82,2181.08,2.745463e+09,2.491892e+10,2194.26,NaN,NaN,NaN
18,2012-09-27,2186.00,2251.72,2266.30,2185.77,5.301690e+09,4.821058e+10,2234.60,NaN,NaN,NaN
19,2012-09-28,2235.06,2293.11,2297.03,2234.32,5.787582e+09,5.443147e+10,2274.82,2250.25,2344.54,2155.97
20,2012-10-08,2291.96,2270.05,2305.18,2258.11,3.553442e+09,3.391584e+10,2277.78,2253.10,2347.09,2159.11
21,2012-10-09,2281.75,2320.16,2327.73,2281.75,5.254889e+09,4.833020e+10,2309.88,2257.95,2353.20,2162.69
22,2012-10-10,2314.59,2324.12,2325.75,2304.61,4.268624e+09,3.787400e+10,2318.16,2263.92,2358.52,2169.31
23,2012-10-11,2315.90,2302.53,2321.35,2300.93,4.130066e+09,3.617296e+10,2308.27,2268.72,2362.01,2175.44
24,2012-10-12,2311.28,2304.53,2332.15,2287.01,3.687414e+09,3.320590e+10,2307.90,2269.24,2363.31,2175.17
25,2012-10-15,2306.01,2294.86,2307.88,2278.46,2.865175e+09,2.856902e+10,2293.73,2267.68,2358.86,2176.51
26,2012-10-16,2293.24,2298.16,2315.45,2287.59,3.205968e+09,3.270514e+10,2300.40,2267.31,2357.87,2176.76
27,2012-10-17,2307.36,2300.80,2312.17,2280.82,3.334941e+09,3.127090e+10,2297.93,2266.28,2354.83,2177.74
28,2012-10-18,2307.49,2336.08,2341.12,2305.88,5.061510e+09,4.505029e+10,2327.69,2267.30,2358.26,2176.34
29,2012-10-19,2335.11,2332.47,2342.53,2328.73,3.592773e+09,3.317303e+10,2334.58,2268.25,2361.69,2174.80
30,2012-10-22,2320.47,2341.59,2347.89,2315.89,3.436829e+09,3.281527e+10,2335.12,2271.14,2369.22,2173.05
31,2012-10-23,2340.89,2312.08,2344.04,2309.25,3.722127e+09,3.371688e+10,2321.79,2275.29,2374.63,2175.95
32,2012-10-24,2303.40,2307.78,2321.43,2302.17,3.754244e+09,3.039238e+10,2310.46,2278.73,2377.93,2179.52
33,2012-10-25,2306.73,2291.24,2322.92,2288.60,4.435153e+09,3.318353e+10,2300.92,2283.33,2377.28,2189.39
34,2012-10-26,2291.31,2247.91,2293.18,2237.06,4.090052e+09,3.453007e+10,2259.38,2286.25,2372.76,2199.74
35,2012-10-29,2241.80,2235.85,2248.14,2227.65,2.758132e+09,2.532865e+10,2237.21,2287.88,2368.99,2206.76
36,2012-10-30,2236.32,2239.88,2257.95,2231.78,3.408312e+09,2.951663e+10,2243.20,2289.40,2365.55,2213.26
37,2012-10-31,2241.43,2254.82,2256.09,2233.68,3.716980e+09,3.063436e+10,2248.20,2292.10,2357.06,2227.14
38,2012-11-01,2256.61,2297.88,2305.63,2256.41,5.076173e+09,4.560214e+10,2286.64,2294.70,2353.87,2235.53
39,2012-11-02,2297.90,2306.77,2309.67,2284.72,3.983329e+09,3.489388e+10,2300.39,2295.98,2354.44,2237.52